[user]
    name = Dave Desrochers
    email = <dave726@gmail.com>
[diff]
    tool = tkdiff
    algorithm = patience
[difftool]
    prompt = false
[alias]
    co = checkout
    ci = commit
    up = "!git remote update -p; git merge --ff-only @{u}"
    ours   = "!f() { git checkout --ours $@ && git add $@; }; f"
    theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
[heroku]
    account = personal
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[color "status"]
    added = green
    changed = yellow
    untracked = red
    new = green
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[core]
    editor = /usr/bin/vim
[push]
    default = simple
