[Unit]
Description=DSD: MythTV Frontend Service
After=xorg.service mythbackend.service
Requires=mythbackend.service

[Service]
Restart=always
RestartSec=5
Type=simple
User=dave
Group=users
Environment=HOME=/home/dave
StandardOutput=null
ExecStart=/usr/local/bin/mythfrontend -display :0.0 --logpath /var/log/mythtv --loglevel warning
ExecReload=/bin/kill -INT $MAINPID
ExecStop=/bin/kill -INT $MAINPID

[Install]
WantedBy=graphical.target

