[Unit]
Description=DSD: MythTV Backend Service
After=network.target mysqld.service chrony.service
Wants=nginx.service

[Service]
Restart=always
RestartSec=5
Type=simple
User=dave
Group=users
Environment=HOME=/home/dave
StandardOutput=null
ExecStart=/usr/local/bin/mythbackend --logpath /var/log/mythtv --loglevel warning
ExecReload=/bin/kill -INT $MAINPID
ExecStop=/bin/kill -INT $MAINPID

[Install]
WantedBy=multi-user.target
