[Unit]
Description=DSD: The X-Server
Conflicts=rescue.target

[Service]
Restart=always
RestartSec=5
Type=simple
User=dave
Group=users
ExecStart=/usr/bin/startx

[Install]
WantedBy=graphical.target
